
.menu img
{
 width: 85px;
 height: 85px;
 border-radius: 50%;
}

.navbar-login
{
	width: 305px;
	padding: 10px;
	padding-bottom: 0px;
}

.navbar-login-session
{
	padding: 10px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.icon-size
{
	font-size: 87px;
}

.li_notif_chat:hover
{
	background-color:  darkgrey;
}
